{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <a href="javascript:void(0);" class="request-sync">Request sync</a>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="/bundles/sync.js"></script>
{% endblock %}
